<h1 class="head-comment">Comments</h1>
<%= form_with model: @comment, url: user_post_comment_path(@user, @post), class: "form", local: true do |form| %>
  <div class="form-group">
    <%= f.label :text %>
    <%= f.text_area :text, rows: 3, class: "form-control" %>
  </div>
  <%= f.submit "Create Comment", class: "btn btn-primary" %>
<% end %>

