<h1 class="Head">Here is a list of all user</h1>

<section class='section-container'>
<% @users.each do |user| %>
  <div class='user'>
  <% if user.photo %>
  
  <div><img src="<%= user.photo %>" alt='profile-picture'></div>
<% else %>
  <!-- Handle the case when user.photo is nil -->
<% end %>

    <div class='profile_desc'>
      <h2 class='name'><%= user.name %></h2>
      <div class='post_link'>
        <p>Number of posts: <%= user.posts_counter %></p>
        <button>
          <%= link_to "Number of posts", user_path(user) %>
        </button>
      </div>
    </div>
  </div>
<% end %>
</section>