.Head {
  text-align: center;
}

.section-container {
  width: 900px;
  height: auto;
  border: 1px solid #8b8b8b;
  margin: 20px auto;
}

.user {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.profile-div {
  width: 50%;
  height: 150px;
  border: 1px solid #8b8b8b;
}

.profile-photo {
  width: 100%;
  height: 100%;
  background-color: blue;
}

img {
  width: 50%;
}

.profile_desc {
  width: 50%;
  border: 1px solid #8b8b8b;
  margin-left: 20px;
}

.name {
  padding: 15px;
}

.user_name h2 {
  padding-left: 20px;
}

.post_link {
  display: flex;
  flex-direction: column;
  text-align: center;
  float: right;
  margin-top: 20px;
  margin-right: 60px;
}

.user_name p {
  font-size: 14px;
}

.Bio {
  width: 820px;
  height: 200px;
  border: 1px solid #8b8b8b;
  padding: 20px;
  margin: 20px auto;
}

.Bio_Box {
  font-size: 14px;
}

.posts_container {
  display: flex;
  flex-direction: column;
  height: auto;
}

.post,
.comments-area {
  border: 1px solid #8b8b8b;
  width: 820px;
  height: 150px;
  padding: 20px;
  margin: 10px auto;
  font-size: 14px;
}

.comments_likes {
  display: flex;
  float: right;
  margin-top: 40px;
  margin-right: 20px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  width: 90px;
  height: 30px;
}

button a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
}

.text_posts {
  font-size: 14px;
}

.no-recent {
  margin-left: 20px;
  color: red;
  font-size: 20px;
}

.post-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
